@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Noto+Sans+JP&family=Poppins&family=Varela+Round&display=swap');

.titulo {
    margin: 10px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.background {
    background: linear-gradient(rgba(255, 0, 0, 0), rgb(44, 73, 114));
}

.card {
    box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    margin: 10%;
    flex-direction: row;
}

.geladeira{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50px;
    display: block;
    margin: 17%;
    background: linear-gradient(to right, #ebedf1, #E7EFF9);
}

.linha1 {
    margin-bottom:10px; 
}
.linha2 {
    margin: 10px 10%;
}
.linha3 {
    margin-top: 10px;
    margin-bottom: 400px;
}

.container {
    padding: 2px 16px;
    width: 15%;
    margin:20px;
    margin-bottom: 25px;
}

.center {
    text-align: center;
}

.price {
    font-size: 19px;
    font-weight: 400;
    font-family: 'Varela Round', sans-serif;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
}

.input{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.inputCEP{
    margin-top: 50px;
}

.input__searchCEP, .input__write {
    width:40%;
    border: 2px solid #333;
    padding: 5px;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
}

.input__read[readonly] {
    cursor: not-allowed;
    border: 2px solid #333;
    padding: 5px;
    margin-top: 10px;
    font-family: 'Varela Round', sans-serif;
}

.button_choice {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Varela Round', sans-serif;
}

.button_choice:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
    font-family: 'Varela Round', sans-serif;
}

.titulo_enviado {
    margin: 10%;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.new_order, .button_send, .button_pay {
    background: transparent linear-gradient(180deg,#cc6709,#f6b85a) 0 0 no-repeat padding-box;
    border-radius: 50px;
    color: #fff!important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 238px;
    height: 52px;
    margin: 0 auto;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}
