<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geladeira</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body style="background-color:#142849">
    <div class="titulo" >
        <h1 style="color:white">Bem vindo a Geladeira do Rytas! Coloque seu CEP e escolha uma bebida.</h1>
    </div>

    <form method="get" action=".">
        <div class="center col-md-12">
            <div class="col-md-4 form-group fg-line center input inputCEP">
                <label style="color: white">CEP:
                <input name="cep" type="text" id="cep" value="" size="10" maxlength="9"
                    onblur="pesquisacep(this.value);" />
            </div>
            <div class="col-md-4 form-group fg-line center input inputCEP">        
                <label style="color: white">Rua:
                <input name="rua" type="text" id="rua" size="60" /></label><br />
            </div>    
            <div class="col-md-4 form-group fg-line center input inputCEP">
                <label style="color: white">Bairro:
                <input name="bairro" type="text" id="bairro" size="40" /></label><br />
            </div>
            <div class="col-md-4 form-group fg-line center input inputCEP">
                <label style="color: white">Cidade:
                <input name="cidade" type="text" id="cidade" size="40" /></label><br />
            </div>
            <div class="col-md-4 form-group fg-line center input inputCEP">
                <label style="color: white">Estado:
                <input name="uf" type="text" id="uf" size="2" /></label><br />
            </div>
        </div>

    <div class="geladeira card">
        <div class="linha1 card">
            {% for item in itens %}
                <div class="container">
                <img class="img" src="{{item.rota}}">
                <p class="center">R${{item.preco}}</p>
                <button class="button_choice center">Buy</button>
                </div>
            {% endfor %}
        </div>
        <div class="linha2 card">
            {% for item in itens2 %}
                <div class="container">
                <img class="img" src="{{item.rota}}">
                <p class="center">R${{item.preco}}</p>
                <button class="button_choice center">Buy</button>
                </div>
            {% endfor %}
        </div>
        <div class="linha2 card">
            {% for item in itens3 %}
                <div class="container">
                <img class="img" src="{{item.rota}}">
                <p class="center">R${{item.preco}}</p>
                <button class="button_choice center">Buy</button>
                </div>
            {% endfor %}
        </div>
        <div class="linha3 card">
            {% for item in itens4 %}
                <div class="container">
                <img class="img" src="{{item.rota}}">
                <p class="center">R${{item.preco}}</p>
                <button class="button_choice center">Buy</button>
                </div>
            {% endfor %}
        </div>
    </div>
</form>
</body>

</html>